.dwp-header {
  .govuk-header__logo {
    display: none;
  }
  
  .govuk-header__link--service-name {
    font-size: 30px;
    line-height: 30px;
  }

  .govuk-header__content {
    padding-left: 0;
  }
}
